.about-main{
    width: auto;
}
.sub-main{
    background: #2c2929;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.about-image{
    display: flex;
    justify-content: center;
}

.about-image,
.aboutme {
  height: auto;
  width: 50%;
  padding: 10px;
  margin: 5px;
}
.skills{

}
.tech-stack{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    

}
.images{
    border: 1px solid gray;
    width: 150px;
}
li{
    padding: 5px;
    list-style-type: none;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h4{
    color: white;
}

