.about-main{
    width: auto;
}
.sub-main{
    background: #2c2929;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.about-image{
    display: flex;
    justify-content: center;
}

.about-image,
.aboutme {
  height: auto;
  width: 50%;
  padding: 10px;
  margin: 5px;
}
.skill-main{
    margin: 20px 0;
}

.skill{
    color: white;
    margin-bottom: 15px;
}

.grid-container{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
.tech-stack{
    padding: 10px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    margin: 0 auto;
    gap: 10px;
    width: 90%;
    place-items: center;

}
.images{
    border: 1px solid gray;
    width: 160px;
}
li{
    list-style-type: none;
    width: 150px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
   
}

h4{
    margin: 11px 0 0 0;
    /* margin-top: 5px; */
    color: white;
}

.tech-tools{
    color: whitesmoke;
}

