* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
.contact-main{
    width: 100%;
    /* background: #2c2929; */
    justify-content: center;
    display: flex;
    align-items: center;
    /* padding: 40px; */
    border-radius: 5px;
}
.item-container{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.contact-item{
    padding: 15px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    /* place-items: center; */
    /* margin: 0 auto; */
}
.contact{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.items{
    /* height: 50px; */
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 350px; */
    

}
.item{
    height: 40px;
    width: 250px;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
    /* border:1px solid gray; */
    color: aliceblue;
}
.item::placeholder{
    color: whitesmoke;
}
textarea{
    padding: 10px;
    resize: both;
    min-height: 150px;
    height: auto;
    min-width: 100%;
    border-radius: 5px;
    background-color: black;
    
}