.project-image{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.project-container{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}
.project-inner-container{
}
.explore-button{
    width: 150px;
    height: 30px;
    background-color: rgb(102, 153, 0);
    border: none;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}