.project-image{
    width: 40%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-container{
    width: 50%;
    height: auto;
    margin: 50px;
}
.project-inner-container{
    padding: 20px;
}
.explore-button{
    width: 150px;
    height: 30px;
    background-color: rgb(102, 153, 0);
    border: none;
    color: white;
    border-radius: 5px;
}