.slider-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.slider-wrapper {
  overflow: hidden;
  width: 100%;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  background-color: #f0f0f0;
  padding: 50px 20px;
  border: 1px solid #ccc;
}

.nav-button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.nav-button.left {
  left: 0;
}

.nav-button.right {
  right: 0;
}

.nav-button:hover {
  background-color: #0056b3;
}
